PORT=3000
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_ID/YOUR_TOKEN
WEBHOOK_USERNAME=
WEBHOOK_AVATAR_URL=
GITHUB_WEBHOOK_SECRET=your_generated_hex_string_here
PRIVATE_ENDPOINT=some-secret-path-string
